body {
    font-family: Arial, sans-serif;
}

.carta {
    width: 60%;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
}

h1 {
    color: #007BFF;
}

.fecha, .destinatario, .contenido, .firma {
    margin-bottom: 20px;
}

.fecha p, .destinatario p, .contenido p, .firma p {
    margin: 5px 0;
}

.firma p:first-child {
    font-size: 24px;
    font-weight: bold;
}
