---

---

<div
  class="dark text-muted text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <a href="https://gobierno-de-hoso.github.io/docs/C9-7-2024-A/" class="text-muted hover:underline dark:text-slate-400 font-medium"
    >Actualmente esta pagina se encuentra en construccion</a
  >
</div>
